div{
    margin-right: 1em;
}

.negro{
    width: calc(25% - 1em);
    height: 500px;
    background-color: black !important;
    color:white!important;
    float: left;
}

.rojo{
    width: calc(25% - 1em);
    height: 500px;
    background-color:red;
    color:yellow;
    float: left;
}
